<div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
    <br>Browse our listings, or use the search box above to narrow your search.
  </p>
  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button class="btn btn-primary btn-lg btn-block" {{action 'saveInvitation'}} disabled={{isDisabled}}>Request invitation</button>
  </div>

    <div class="category--listing" style="padding:10px">
      {{#each categories as |category|}}
        <span  style="padding:10px;color:blue" {{action 'onCategorySelection' category}}> {{category}} </span>
      {{/each}}
    </div>

    {{#each filterVideos as |videos index|}}
      <div class="boxes">
        {{#each videos as |video _index|}}
            {{#link-to 'video-detail' video}}
              <img src="{{videoImg}}" width=200px height=200px alt="{{video.Description}}"/>
            {{/link-to}}
        {{/each}}
      </div>
    {{/each}}
</div>
